@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:wght@200&display=swap');* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color:black;
}

html {
  overflow-y: scroll;
}

/*  */
/* .MuiDrawer-root{  */
   /* display: flex;  */
/* }  */

/* .test{ */
  /* width: 100%; */
/* } */

 /* Navigation bar */
/* .navbar{
  padding: 20px;
  display:flex;
  align-items: center;
  /* max-width: 600px; */
  /* margin: 0 auto;
  border-bottom: 4px ridge rgb(163, 163, 163); */
/* } */

/* .navbar h1 {
  color: gray;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  text-decoration: none;
  margin: 0px 10px 0px 10px;
} */

/* Content */
.content {
  /* max-width: 600px; */
  /* margin: 0px auto; */
  /* padding: 20px; */
  /* display: flex; */
}

/* Album preview */
.album-preview{
  /* max-width: 600px; */
  /* padding: 10px 16px; */
  /* margin: 20px 0; */
  /* border-bottom: 1px solid rgba(128, 128, 128, 0.56); */
}

.album-preview h2:hover {
  /* color:red; */
}


/* Album details */
.album-details h1{
  /* margin-bottom: 4px; */
}

.album-details h3{
  /* font-size: 12px;
  text-align: left; */
}

.album-details section{
  float: right;
}

.album-details div{
  /* border-top: 1px solid red; */
  /* margin-top: 20px; */
}

.album-details p{
  /* margin-top: 20px; */
}

.album-details button{
  /* margin: 16px 6px 0px 0px; */
  /* font-size: 12px; */
  /* font-weight: bold; */
}

/* Create new album */
.create {
  /* max-width: 400px; */
  /* margin: 0 auto; */
  /* text-align: center; */
}

.create h1{
  /* border-bottom: 1px solid red; */
  /* margin-bottom: 16px; */
}

.create label{
  /* text-align: left; */
  /* display: block; */
}

.create input, .create textarea{
  /* display: block; */
}

.create textarea{
  /* min-height: 300px; */

}

